<div class="row">

  <ul class="list-group">

    <li class="list-group-item d-flex justify-content-between align-items-center">
      <h4><span class="fa fa-map-marker text-success" ></span> Units
        <div><h6 class="text-muted">All currently active units </h6></div> </h4>
      <h1 class="card-title text-danger mapActiveUnitsTotal ">0</h1>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-center">
      <h4><span class="fa fa-eye text-warning" ></span> Units on map view
        <div><h6 class="text-muted">Total number of units in the visual area of the map</h6></div> </h4>
      <h1 class="card-title text-danger top_unitsOnMapView">0</h1>
    </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
      <h4><span class="fa fa-users text-info" ></span> Units Issued
        <div><h6 class="text-muted">Total number of units issued to officers</h6></div> </h4>
      <h1 class="card-title text-danger top_unitsIssued">0</h1>
    </li>


    <li class="list-group-item d-flex justify-content-between align-items-center">
      <h4><span class="fa fa-list text-success" ></span> Groups
        <div><h6 class="text-muted">Total number of groups created</h6></div> </h4>
      <h1 class="card-title text-danger top_totalGroups">0</h1>
    </li>
  


   
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <h4><span class="fa fa-filter text-warning" ></span> Filtered Groups
        <div><h6 class="text-muted">Customized filtered groups for easiy tracking</h6></div> </h4>
      <h1 class="card-title text-danger top_totalMyGroups">0</h1>
    </li>

    <li class="list-group-item d-flex justify-content-between align-items-center">
      <h4 class=""> <span class="fa fa-globe text-info" ></span> Registered Units 
        <div><h6 class="text-muted">Total number of units registered </h6></div> </h4>
      <h1 class="card-title text-danger top_totalUnits ">0</h1>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <h4 class=""> <span class="fa fa-cloud text-primary" ></span> Sync updates 
      <div><h6 class="text-muted">Update requests per every 5 seconds</h6></div> </h4>
       
      <h1 class="card-title text-danger top_socketUpdate ">0</h1>
    </li>


  </ul>
</div>

<div class="row">
  <div class="list-group">
    <a id="mapActiveUnits" href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3"
      aria-current="true">
      <h4><span class="fa fa-map text-primary"></span></h4>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Map Configuration</h6>
          <p class="mb-0 opacity-75 text-primary">Customize map experience</p>
        </div>
       </div>
    </a>

  </div>
</div>

<div class="row">
  <div  id="error-info">
    </div>
    </div>