<div class="navLists" id="mydeptList" style="">
   
    <div class="my-3 p-0 bg-body rounded shadow-sm">
        <div class="accordion" id="myaccordionDepartments">
         
        </div>
    </div>
</div>