<div class="toolbar-vertical">

    <div class="btn-toolbar">

        <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn  btn-outline-info position-relative" aria-expanded="false"
            data-toggle="tooltip" onclick="t.route('dashboard')"  aria-label="Dashboard" data-bs-original-title="Dashboard">
            <span class="fa fa-dashboard " style="font-size: large;"></span>
        </button>
            <button type="button" class="btn  btn-outline-info position-relative" aria-expanded="false"
                data-toggle="tooltip" onclick="t.route('flyViews')"  aria-label="Fly To" data-bs-original-title="Fly To">
                <span class="fa fa-plane " style="font-size: large;"></span>
            </button>
        </div>




       




        <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-outline-success position-relative" aria-expanded="false"
                data-toggle="tooltip"  onclick="t.route('deptListLayout')" aria-label="Departments List"
                data-bs-original-title="Departments List">
                <span class="fa fa-list" style="font-size: large;"></span>
            </button>

          
            <button type="button" class="btn  btn-outline-success position-relative" aria-expanded="false"
                data-toggle="tooltip" onclick="t.route('unitListLayout')"  aria-label="Units List"
                data-bs-original-title="Units List">
                <span class="fa fa-map-marker " style="font-size: large;"></span>
            </button>


        
        <button type="button" class="btn btn-outline-warning position-relative" aria-expanded="false"
        data-toggle="tooltip"  onclick="t.route('myListLayout');" aria-label="My List"
        data-bs-original-title="My List">
        <span class="fa fa-filter" style="font-size: large;"></span>
      
    </button>
    </div>

        <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn  btn-outline-primary position-relative" aria-expanded="false"
                data-toggle="tooltip" onclick="t.toggleFullScreen('top-mc')" aria-label="Full screen"
                data-bs-original-title="Full screen">
                <span class="fa fa-arrows-alt" style="font-size: large;"></span>
            </button>
            <button type="button" class="btn btn-outline-primary" onclick="t.switchDarkMode();" aria-expanded="false"
                data-toggle="tooltip" aria-label="Dark Mode" data-bs-original-title="Dark Mode">
                <span class="fa fa-moon-o " style="font-size: large;"></span>
            </button>
        </div>



    </div>
</div>