<div class="card mb-grid draggable">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="card-header-title text-info">Basic Form Example</div>

        <nav class="card-header-actions">
            <a class="card-header-action" data-toggle="collapse" href="#card1" aria-expanded="true"
                aria-controls="card1">
                <span class="fa fa-circle closeCard"></span>
            </a>
        </nav>
    </div>
    <div class="card-body" style="overflow: auto !important;">

        <p class="card-text">Some quick example text to build on the card title and make up the bulk
            ofome quick example text to build on the card title ome quick example text to build on the
            card title
            the card's content.</p>
            <button type="button" class="btn btn-primary" onclick="tmp.toast()" >Show live toast</button>

        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>


<div class="card col d-flex align-items-start draggable">
    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <img src="assets/css/images/POLICE.png" width="24" class="rounded me-2" alt="...">    </div>
    <div>
      <h3 class="fs-2">Featured title</h3>
      <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      <a href="#" class="btn btn-primary">
        Primary button
      </a>
    </div>
  </div>
