

<div class="card mb-grid draggable">
    <div class="card-header d-flex justify-content-between align-items-center">
        <div class="card-header-title text-info">Basic Form Example</div>

        <nav class="card-header-actions">
  
            <span class="card-header-action" data-toggle="collapse" href="#card1" aria-expanded="true"
                aria-controls="card1">
                <span class="fa fa-circle collapsCard"></span>
            </span>
            <span class="card-header-action" data-toggle="collapse" href="#card1" aria-expanded="true"
                aria-controls="card1">
                <span class="fa fa-circle closeCard"></span>
            </span> 
            
        </nav>
    </div>
    <div class="card-body" style="overflow: auto !important;">

        <p class="card-text">Some quick example text to build on the card title and make up the bulk
            ofome quick example text to build on the card title ome quick example text to build on the
            card title
            the card's content.</p>
            <button type="button" class="btn btn-primary" onclick="tmp.toast()" >Show live toast</button>
            
        <button type="button" class="btn btn-primary">Go somewhere</button>
    </div>
</div>

<script>
// Get all elements with the specified class name
const closeBth = document.getElementsByClassName('closeCard');

// Function to handle the click event
function handleClickCloseBth(event) {
  // Find the closest parent element with the desired class
  const parentElement = event.target.closest('.card');

  if (parentElement) {
    // Parent element with the desired class found
    console.log('Parent class found:', parentElement);
    // Add your desired actions or functions here
    parentElement.remove();
  } else {
    // Parent element with the desired class not found
    console.log('Parent class not found.');
  }
}

// Attach click event listener to each element
Array.from(closeBth).forEach((element) => {
  element.addEventListener('click', handleClickCloseBth);
});


// Get all elements with the specified class name
const minBth = document.getElementsByClassName('collapsCard');

// Function to handle the click event
function handleClickMinBth(event) {
  // Find the closest parent element with the desired class
  const parentElement = event.target.closest('.card');

  if (parentElement) {
    // Parent element with the desired class found
    console.log('Parent class found:', parentElement);
    // Add your desired actions or functions here
    const specificElement = parentElement.querySelector('.card-body');
    if (specificElement) {
      specificElement.classList.toggle('hidden');
    }
  } else {
    // Parent element with the desired class not found
    console.log('Parent class not found.');
  }
}

// Attach click event listener to each element
Array.from(minBth).forEach((element) => {
  element.addEventListener('click', handleClickMinBth);
});



 
  
</script>