<style>
   .inputColor{
        background-color: #fff;
        padding: 2px;
        width: 50px;
        height: 34px;
        cursor: pointer;
        border: 2px solid #cccccc;
        border-radius: 3px;
        margin-top: 4px;
        margin: 4px;
    }

   
 
</style>


 
<div class="card">
    <div class="card-header">
        Object Properties
    </div>
    <div class="card-body">

   
          
        <form id="gen-objects">
            

            <div class="form-group row">
                <label for="objectId" class="col-sm-3 col-form-label">ID</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" id="objectId" name="objectId" placeholder="Object ID">
                </div>
            </div>
            <div class="form-group row">
                <label for="objectType" class="col-sm-3 col-form-label">Type</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" id="objectType" name="objectType" placeholder="Object Type">
                </div>
            </div>
            <div class="form-group row">
                <label for="objectTitle" class="col-sm-3 col-form-label">Title</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control form-control-sm" id="objectTitle" name="objectTitle" placeholder="Title">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Content</label>
                <div class="col-sm-9">
                    <textarea type="text"  rows="3" class="form-control form-control-sm" id="objectContent" name="objectContent"  placeholder="Content"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="objectFloor" class="col-sm-3 col-form-label">Hight</label>
                <div class="col-sm-9">
                    <select class="form-control select2" id="objectFloor"name="objectFloor" >
                        <option value="0">Select Floor</option> 
                        <option value="1">1</option> 
                        <option value="2">2</option> 
                        <option value="3">3</option> 
                        <option value="4">4</option> 
                        <option value="5">5</option> 
                        <option value="6">6</option> 
                        <option value="7">7</option> 
                        <option value="8">8</option> 
                        <option value="9">9</option> 
                        <option value="10">10</option> 
                        <option value="11">11</option> 
                        <option value="12">12</option> 
                        <option value="13">13</option> 
                        <option value="14">14</option> 
                        <option value="15">15</option> 
                        <option value="16">16</option> 
                        <option value="17">17</option> 
                        <option value="18">18</option> 
                        <option value="19">19</option> 
                        <option value="20">20</option> 
                        <option value="21">21</option> 
                        <option value="22">22</option> 
                        <option value="23">23</option> 
                        <option value="24">24</option> 
                        <option value="25">25</option> 
                     </select>                
                    </div>
                    
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="groundUpFloor">
                        <label class="form-check-label" for="groundUpFloor">
                          This is a 3D object
                        </label>
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-3 col-form-label">Color</label>
                <div class="col-sm-9">
                    <!-- Easy and useful color picker -->
                    <input type="color" value="#000000" id="objectColor"name="objectColor" class="inputColor">
                 </div>
            </div>
           
          
     
            <div class="form-group row">
                <div class="col-sm-12">
                    <button type="button"  onclick="rd.getFormValues('gen-objects');" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>

 